<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>SigUp</mat-card-title>
    </mat-card-header>
    <form class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Firstname">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Lastname">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password">
        </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Repeat Password">
      </mat-form-field>
      <button mat-stroked-button color="accent" class="btn-block">Create</button>
      </mat-card-content>
    </form>
  </mat-card>
</div>
